<header>
  <h1>MetaSync</h1>
</header>
<main class="container">
  <div class="choose-crypto">
    <h2>Choose your crypto:</h2>
  </div>
  <div class="crypto">
    <div class="crypto-buttons">
      {{>crypto}}
    </div>
    <div class="go-button">
      <button type="button" class="btn btn-warning" id="button-go">Go!</button>
    </div>
  </div>
  <div class="table-crypto hide">
    <table class="table table-bordered">
      <thead>
        <tr class="price-24-center">
          <th scope="col">№</th>
          <th scope="col">Name/symbol</th>
          <th scope="col">Price, USD</th>
          <th scope="col">Market Cap, USD</th>
          <th scope="col">Change 24h, %</th>
        </tr>
      </thead>
      <tbody id="table-coin">
      </tbody>
    </table>
    <div class="send-email">
      <form name="send-email-form" id="send-email-form" class="class-send-email">
        <label class="label-email"><input type="email" name="email" placeholder="E-mail"></label>
        <button type="submit" class="btn btn-warning">Send</button>
      </form>
    </div>
  </div>
</main>
<footer>
  <span>Directed by AndVLK</span>
</footer>
